<%- include('partials/header') %>

<main>
<h1>Edit Category</h1>

<% if (messages.error) { %>
    <ul class="error-messages">
        <% messages.error.forEach(msg => { %>
            <li><%= msg %></li>
        <% }) %>
    </ul>
<% } %>

<form action="/edit-category/<%= category.category_id %>" method="POST">

    <label for="name">Category Name</label>
    <input
        type="text"
        name="name"
        id="name"
        value="<%= category.name %>"
        maxlength="100"
        required
    >

    <button type="submit">Update</button>
</form>

</main>

<%- include('partials/footer') %>