<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <h2>Project Categories</h2>

    <div>

        <% categories.forEach(category => { %>

            <a href="/category/<%= category.category_id %>">

                <span>
                    <%= category.name %>
                </span>

            </a>

        <% }) %>

    </div>
    <a href="/edit-project/<%= project.project_id %>">Edit Project</a>

</main>

<%- include('partials/footer') %>